.logo {
    text-decoration: none;
    font-size: 2rem;
    color: #484554;
    font-weight: 600;
    margin-left: 1rem;
}

.navLink {
    color: #484554;
    display: flex;
    column-gap: 0.5rem;
    text-decoration: none;
    cursor: pointer;
}

.navLink span {
    position: relative;
}

.navLinkLabel::after {
    content: '';
    height: 2px;
    width: 100%;
    left: 0;
    bottom: 0;
    position: absolute;
    background: #6f64ef;
    transform: scale(0);
    transition: all 0.2s ease-in;
}

.navLink:hover .navLinkLabel::after {
    transform: scaleX(0.8);
}